<form action="/login" method="post">
  <div>
    <label for="username"> Username:
      <input type="text" name="username" />
    </label>
  </div>
  <div>
    <label for="password"> Password:
      <input type="text" name="password" />
    </label>
  </div>
  <button type="submit">Login</button>
</form>

<div>
  <a href="/signup">Click here to signup</a>
<div>