<form action="/signup" method="post">
  <div>
    <label for="username"> Username:
      <input type="text" name="username" />
    </label>
  </div>
  <div>
    <label for="password"> Password:
      <input type="text" name="password" />
    </label>
  </div>
  <div>
    <label for="re_password"> Repeat password:
      <input type="text" name="re_password" />
    </label>
  </div>
  <div>
    <button type= "submit"> Click to Signup! </button>
  </div>
</form>